@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Sora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "../Main-style/variables";
@import "../Header/header";
@import "../components/button";
@import "../Main-content/footer";
@import "../whatsapp-button-styles/whatsapp-button-styles";

//import for transportes

@import "hero.scss";
@import "./main-content.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    @media (max-width:1080px) {
        font-size: 93.75%; //15px
    }
    @media (max-width:720px) {
        font-size: 87.5%; //14px
    }
    @media (max-width:500px) {
        font-size: 75%; //12px
    }
}

body{
    width: 100%;
}

main{
    background-color: #f5fffece;
    border-radius: 1rem;
    filter: drop-shadow(1px 1px 24px rgba(0, 0, 0, 0.1));
}