html{
    scroll-behavior: smooth;
}
.main-content{
    width: 100%;
    background-image: linear-gradient(to bottom,#4da4a7, white );
}
.container{
    margin: 0px auto;
    max-width: 1200px;
}

//bem vindo!
.welcome{
    padding: 0 1.5rem;
}

.welcome-tittle{
    padding-top: 4rem;
    margin-bottom: 3rem;
    h1{
        margin-bottom: 2rem;
        text-align: center;
        font-family: $font-cursive;
        font-size: 7.5rem;
        font-weight: lighter;
        color: $white-normal;
        letter-spacing: .25rem;
    }
    p{
        margin: 0px auto;
        max-width: 900px;
        text-align: justify;
        font-family: $font-normal;
        font-weight: 500;
        font-size: 1.25rem; //20px
        line-height: 150%;
        color: rgba(27, 27, 27, 1);
    }
}
.welcome-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin-bottom: 6rem;
}

.welcome-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    img{
        width: 120px;
        height: 110px;
    }
    h2{
        font-family: $font-welcome-card;
        font-size: 1.5rem;
        letter-spacing: .12rem;
        color: rgba(43, 43, 43, 1);
        text-align: center;
        margin-bottom: 1rem;
    }
    p{
        text-align: justify;
        font-family: $font-normal;
        font-weight: 500;
        font-size: 1.25rem; //20px
        color: rgba(27, 27, 27, 1);
    }
}

//Nossos pacotes

.pacotes-tittle{
    
    padding: 3rem;
    width: 500px;
    margin: 0 auto 0 auto;
    h2.primeiro-titulo{
        text-indent: 26px;
    }
    p.segundo-titulo{
        color: white;
        text-shadow: 0px 5px 6px #00000061;
    }
    margin-bottom: -8rem;
}

.pacotes{
    margin-top: 4rem;
    max-width: 1400px;
    
    .pacotes-details{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        flex-wrap: wrap;
        padding-top: 100px;
        .pacotes-card{
            box-shadow: rgba(0, 0, 0, 0.382) 5px 10px 20px 0px;
            border-radius: 10px;
            overflow: hidden;
            img{
                margin-bottom: -5px;
                transition: transform .5s ease;
            }
        }
        
        .pacotes-card img:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}


//NOSSOS PARCEIROS
.parceiros{
    padding-bottom: 20vh;
}
.parceiros-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    img{
        width: 100%;
    }
}
.parceiros-item{
    width: 200px;
}

.parceiros-tittle{
    width: 500px;
    margin: 128px auto 46px auto;
}
h2.primeiro-titulo{
    font-family: $font-cursive;
    font-weight: lighter;
    font-size: 120px;
    color: rgb(255, 213, 0);
    line-height: 16px;
    text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    text-indent: 36px;
}
p.segundo-titulo{
    line-height: 135%;
    font-family: $font-welcome-card;
    font-size: 100px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0px 5px 6px #00000061;
}

@media screen and (max-width: 1000px){
    .welcome-tittle{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .welcome-details{
        gap: 1rem;
    }
    .welcome-card{
        img{
            width: 64px;
            height: 64px;
        }
        h2{
            font-size: 1.25rem;
        }
    }

   .welcome-details{
    gap: 2rem;
   }

   .welcome-card{
    h2{
        font-size: 1.25rem
    }
    p{
         font-size: 1rem
    }
    img{
        width: 90px;
        height: 90px;
    }
   }


    .parceiros-tittle, .pacotes-tittle{
        max-width: 500px;
    }

h2.primeiro-titulo{
    font-size: 100px;
    text-indent: 76px;
}

p.segundo-titulo{
    font-size: 80px;
}

.pacotes-tittle{
    h2.primeiro-titulo{
        text-indent: 64px;
    }
}

.parceiros-details{
    margin: 0 10px;
    gap: 24px;
}
}

@media screen and (max-width: 675px){
    .pacotes-card {
        height: 300px;
      }

    .pacotes-card img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:500px){
    .welcome-tittle{
        h1{
            font-size: 4rem;
        }
    }


    .parceiros-tittle, .pacotes-tittle{
        max-width: 300px;
    }
    h2.primeiro-titulo{
        text-indent: 12px;
        font-size: 80px;
    }
    p.segundo-titulo{
        font-size: 60px;
    }
    .parceiros-details{
        gap: 24px;
    }
    .pacotes-tittle{
        h2.primeiro-titulo{
            text-indent: 4px;
        }
    }
    .parceiros{
        padding-bottom: 10vh;
    }
}
