@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Sora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "../../../styles/Main-style/variables";
@import "../../../styles/Header/header";
@import "../../../styles/components/button";
@import "../styles-pacotes/pacotes-footer.scss";
@import "../../../styles/whatsapp-button-styles/whatsapp-button-styles";
@import "./hero-pacotes.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    @media (max-width:1080px) {
        font-size: 93.75%; //15px
    }
    @media (max-width:720px) {
        font-size: 87.5%; //14px
    }
    @media (max-width:500px) {
        font-size: 75%; //12px
    }
}

body{
    width: 100%;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    padding: 1rem 2rem;
}

section.left-section{
    h1{
        text-align: center;
        font-size: 2rem;
        font-family: "Anton", sans-serif;
        letter-spacing: 4px;
        color: #00979C;
        margin-bottom: 1rem;
        line-height: 150%;
    }
    h2 + h2{
        margin-top: 1rem;
    }
    h2{
        color: #00979C;
    }
    p{
        font-family: "Montserrat", sans-serif;
        margin: 1rem 0;
        line-height: 150%;
    }
    div{
        width: 100%;
        img{
            width: 100%;
            border-radius: .5rem;
        }
    }
}

section.right-section{
    background-color: rgba(0, 153, 158, 0.10);
    border-radius: .5rem;
    
    .right-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        div{
            width: 40%;

            img{
                width: 100%;
                border-radius: .5rem;
            }

            p{
                text-align: center;
            }
        }
    }

    h1{
        text-align: center;
        font-size: 2rem;
        font-family: "Anton", sans-serif;
        letter-spacing: 4px;
        color: #00979C;
        line-height: 150%;
    }

    .right-tittle{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin: 1.5rem 0;

        img{
            width: 2.5rem;
        }

    }
}

@media (max-width: 860px){

    main{
        display: flex;
        flex-direction: column;
    }

    section.right-section{
        padding: 2rem 1rem;
    }

}